.title-focus {
    font-family: arial;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-center {
    display: flex;
    justify-content: center;
}

.input-task {
    width: 80%;
}

.list-tasks {
    font-family: "Trebuchet MS" "Bahiana";
    font-size: 20px;
    color: #000000;
}

.list-tasks li {
  display: flex;
  justify-content: space-between;
}

body {
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}