extends layout

block content

  .container
    .row
        .col-md-4
        .col-md-4
          h2 To Do List
          form(name='checkListForm', action= '/todo', method= 'POST')
            input(type='text', name='checkListItem', placeholder='Add your Item...')
          button#add.btn.btn-info Add task
          button#clear.btn.btn-default(type='button', title='Clear checked items') clear
          br
          br
          .list
            ul
              each listItem in todo
                li #{listItem.checkListItem}
        .col-md-4