extends layout

block content

  .container
    .row
      .col-md-8.col-md-offset-2
        h2.title-focus ¿Cuál es tu foco hoy?
        form.form-center(name='checkListForm', action= '/todo', method= 'POST')
          input.input-task(type='text', name='checkListItem', placeholder='Añade tareas...', autofocus="")
          button#add.btn.btn-info +
        br
        br
        ul.list-unstyled.list-tasks
          each listItem in todo
            li.list-group-item
                p #{listItem}
                button.btn.btn-danger.remove(href="")
                  i.glyphicon.glyphicon-remove
